@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Exo+2:wght@600&family=Roboto:wght@300&family=Rubik+Iso&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

:root {
  --cell-size: 46px;
  --layout-number: calc(var(--cell-size) - 40px);
  --number-and-grid-width: 20px;

  /* *-------Colours------*  */
  --neutral-white: #fff;
  --neutral-black: #000;

  --grid-bg-color: hsl(194, 100%, 50%);
  --nav-bg-color: #312e2b;
  --nav-content-color: rgba(0, 0, 0, 0.514);
  --name-bg-color: rgb(68, 68, 68);

  /* *-------Font-------*  */
  --primary-font-family: 'Exo 2', sans-serif;
  --labels-font-family: 'Black Ops One', cursive;
  --title-font-family: 'Rubik Iso', cursive;
  --name-font-family: 'Roboto', sans-serif;

  /* *-------Font Size-------*  */

  --label-font-size: 1.05rem;
  --name-font-size: 1rem;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 3rem;
  place-items: center;
  height: 100vh;
}

/* ----------------------------------------------------------------------------------------- */
/* ! -----------------------The letters of the board -----------------------------------------*/
/* ----------------------------------------------------------------------------------------- */

.all-letters {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  gap: 2px;
  padding-left: var(--number-and-grid-width);
  font-weight: 900;
}

.letter {
  width: var(--cell-size);
  font-family: var(--labels-font-family);
  font-size: var(--label-font-size);
  display: flex;
  justify-content: center;
  height: 25px;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */
/* !-----------------------The numbers of the board -----------------------------------------*/
/* ----------------------------------------------------------------------------------------- */

.number-and-grid {
  display: grid;
  grid-template-columns: var(--number-and-grid-width) 1fr;
}
.all-numbers {
  display: grid;
  grid-template-rows: repeat(10, 1fr);

  font-weight: 900;
}
.number {
  font-family: var(--labels-font-family);
  font-size: var(--label-font-size);
  display: flex;
  align-items: center;
  text-align: center;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */
/* !-----------------------The GRID of the board -----------------------------------------*/
/* ----------------------------------------------------------------------------------------- */

.grid {
  display: grid;
  grid-template: repeat(10, var(--cell-size)) / repeat(10, var(--cell-size));

  gap: 2px;
}

.cell {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: hsl(194, 100%, 50%);
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */
/* !-----------------------NAV BAR ------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------- */

nav {
  display: grid;
  grid-template-rows: 10% auto 1fr;
  border: 1px solid var(--neutral-black);
  background-color: var(--nav-bg-color);

  min-width: calc(20rem + 2vw);
  max-width: 32rem;
  padding: 2rem;
  border-radius: 0.75rem;
}
main {
  width: fit-content;
}
nav h1 {
  font-family: var(--title-font-family);
  color: var(--neutral-white);
  font-size: 2rem;
}

nav button,
nav input {
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 1.2em 1em;
  margin-block: 0.5em;
  border-radius: 0.75rem;
  text-align: left;

  border: 1px solid var(--nav-content-color);
  background-color: hsla(0, 0%, 0%, 0.72);
  color: var(--neutral-white);
  box-shadow: inset 0 -0.1rem 0 0 var(--nav-content-color);
}

.buttons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

nav input::placeholder {
  color: #ffffff59;
}

nav button:hover {
  background-color: #000;
  scale: 1.001;
}

#start {
  background-color: #008000;
  padding: 1.5em 2em;
  font-size: 1.2rem;
  font-weight: bold;
}
#start:active {
  background-color: greenyellow;
  color: #000;
}
nav button:active {
  background-color: greenyellow;
  color: #000;
}
.game-on {
  width: 100%;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */
/* !-----------------------IN GAME -  GRIDS ------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------- */

.span-width {
  grid-column: 1 / span 2;
}

.both-divs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}
.board-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

/* !-----------------------NAMES ------------------------------------------------------------*/

.name-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem;
}

.name-container > div {
  background-color: var(--name-bg-color);
  font-family: var(--name-font-family);
  font-size: var(--name-font-family);
  padding: 0.35em 0.62em;
  border: 1px solid rgba(0, 0, 0, 0.349);
  color: #fff;
  border-radius: 1rem;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */
/* !----------------------- Gameover ------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------- */
#gameover-container {
  background-color: var(--nav-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameover {
  min-width: 50%;
  min-height: 20rem;
  background-color: #008000;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

#gameover h1 {
  font-family: var(--labels-font-family);
  font-size: 2.5rem;
}

#gameover p {
  font-size: 1.5rem;
  color: var(--neutral-white);
  background-color: var(--neutral-black);
  width: 100%;
  text-align: center;
}
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

@media (max-width: 1150px) {
  :root {
    --cell-size: 32px;
  }
  nav {
    min-width: 40rem;
  }
  body {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    height: max-content;
  }
}

@media (max-width: 850px) {
  :root {
    --cell-size: 32px;
    --label-font-size: 0.8rem;
    --name-font-family: 0.8rem;
  }
  nav {
    min-width: 100%;
  }
}

@media (max-width: 450px) {
  :root {
    --cell-size: 22px;
    --number-and-grid-width: 15px;
    --label-font-size: 0.5rem;
    --name-font-family: 0.4rem;
  }
  .letter {
    place-items: center;
  }
  .number {
    justify-content: flex-end;
  }
  .number-and-grid {
    gap: 0.5rem;
  }
}
