* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
:root {
  --neutral-black: #000;
  --neutral-white: #fff;
}

.board-container {
  display: flex;
  justify-content: space-around;
}

.all-letters {
  display: flex;
  gap: 2px;
  padding-left: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}
.letter {
  width: 30px;
  height: 25px;
  text-align: center;
}
.cell {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #999;
}
.number-and-grid {
  display: flex;
}
.all-numbers {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.number {
  height: 30px;
  width: 20px;
  padding: 7px 0;
  text-align: center;
}
